// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@font-face {
  font-family: "Sinoreta";
  src: local("Sinoreta"), url(../fonts/SinoretaPersonalUseRegular-eZdEl.otf) format("otf");
}

$font-family-sans-serif: Sinoreta;
$link-color: white;
$btn-color: #af4a51;

@import "~bootstrap/scss/bootstrap";

// Then add additional custom code here

#sky,
#act,
#bg {
  position: absolute;
  left: 0;
  top: 0;
}

#juliet, #romeo {
  position: absolute;
  left: 0;
  top: 0;
}

.wrapper {
  z-index: 1;
  position: relative;
}

.clockContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}

#quiz-app {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#question-container {
  margin-bottom: 20px;
}

#question {
  font-size: 24px;
  margin-bottom: 10px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.button {
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

#controls {
  justify-content: center;
  margin-top: 20px;
}

#controls.show {
  display: flex;
}

.hide {
  display: none;
}

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
  background: linear-gradient(to right, #6DD5FA, #2979FF);
  color: #333;
}

.btn-navi,
.btn-choice:hover {
  background-color: $btn-color;
  color: white;
}

.btn-navi:hover,
.btn-choice {
  background-color: white;
  border-color: $btn-color;
  color: black;
}